.footer{
  background-color: black;
}

.logo{
  width: 32px;
  height: 32px;
  padding: 3px;
  margin: 5px;
}

body{
    background-color: gray;
}

.MyForm{
  padding: 3px;
  border-radius: 5px;
}

#encabezado{
  text-align: center;
}
